body{
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    display: block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    padding: 15px 5px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    background-color: #2980b9;
}