

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #2c3e50;
}

.form-box{
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.form-box h2{
    text-transform: uppercase;
    margin-bottom: 50px;
}
.form-box input{
    width: 270px;
    height: 30px;
    outline: none;
    background: none;
    text-align: center;
    border: 2px solid #2980b9;
    border-radius: 10px;
    padding: 10px 0;
    font-size: 18px;
    color: white;
}
.form-box input, select{
    margin-bottom: 15px;
}
.form-box button{
    
    cursor: pointer;
    color: #27ae60;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 10px;
    border: 2px solid #27ae60;
    background: none;
    margin: 25px 0 ;
    outline: none;
}
.form-box button:hover{
    background-color: #27ae60;
    color: white;
}
.form-box select{
    outline: none;
    border: none;
    width: 100px;
    height: 30px;
    background: #2980b9;
    color: white;
    border-radius: 5px;
}
