
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    padding: 5px 20px;
}
.top-bar h2{
    margin-top: 20px;
    text-transform: uppercase;
}
.top-bar nav ul{
    list-style-type: none;
    font-size: 18px;
    padding: 0;
    margin-top: 20px;
   
}
.top-bar nav ul li {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}
.top-bar nav ul li:hover{
    background-color: #27ae60; 
}